<div class="card-show">
  <img class="poster"src="<%= @movie.poster_url %>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @movie.title %></h2>
      <p><%= @movie.overview %></p>
    </div>
    <h2 class="card-rating">Rating : <%= @movie.rating %></h2>


  </div>
</div>
